@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;
$botton-back: #68AD44;
$botton-line: #83BD42;

// Utility classes

body{
  margin: 0 auto;
p{
  margin: 0;
}

header{

a{
  text-decoration: none;
}


.site-banner{
  background-color: #056cb6;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.site-banner__left{
background-color: $body-font;
width: 3em;
font-size: 36px;
text-align: center;
 padding-top: 1%;
 order:2;
}
.icon-byui-logo::before{
  color: white;
  padding: 0 10%;
  height:100%;
  width: 100%;

}

.site-banner__right{
  display:flex;
  font-size: 36px;
  text-align: center;
  padding-top: 1.5%;
  margin-right: 5%;
  order:2;
   a{
     padding:0 10px;
   }
}

.text-white{
  color: white;
  text-decoration: none;
}
form{
  width: 100%;
  
  
}
.search{
  order:1;
  width:100%;
  display: flex;
  padding:6px 10px;
  background-color: $body-font;
  height: 2.5em;
  #searchDesktop{
    width:100%;
    border-radius: 4px 0 0 4px;
    border:1px solid $med-gray;
    border-right: none;
  }
  button{
    background-color: $botton-back;
    border-radius: 0 4px 4px 0;
    border:1px solid $botton-line;
    border-left: none;
    color: $light-gray;
  }

}
@media screen and (min-width:992px){
  .site-banner{
    background-color: $botton-back;

    .site-banner__left{
  margin-left: 2em;
  order:0;
}
.icon-byui-logo::before{
  margin-bottom: 3em;
}
form{
  order:2;
}
.search{
  order:1;
  width:10%;
  background-color: $body-font;
  height: 2.5em;

  #searchDesktop{
    width:100%;}
  }
  .site-banner__right{

  order:2;
   
}}

}

.idaho{
  background-color: $light-gray;
  color: $dark-gray;
  border-bottom: 1px solid $dark-gray;
  text-align: right;
  padding:1em 0.3em;

}}
main{
  margin: 0;

.hero-img{
  margin:3em 1em;
  height: 17em;
  background-color: $med-gray;
  border: 2px solid $med-gray;

}
.card-container{
  .card{
    margin:1em;
    border:1px solid $light-gray
  }
  .img{
    background-color: #faef5cad;
    width: 100%;
    height: 13em;
  }
  a{
    text-decoration: none;
    font-weight: bold;
    color: $link-blue;
  }
  .page-N{
    display: flex;
    justify-content: space-between;
    p, span{
      padding: 2%;
    }
  }
}
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
}