// colors
$color-cream: #FAEBD7;
$header-color: #6495ED;
$article-background-color: white;

//fonts
$body-font: Arial, Helvetica, sans-serif;
$header-font: 'Lora', serif;

//media queri


body{
    background-color: $color-cream;
    font-family: $body-font;
}

header{
    background-color: $header-color;
    @media (min-width:$break-small){
        &{
            width:100%;
            max-width: 600px;
            padding: 5%;
            width: 65%;
        }
    }
}
//--------fonts---------------------------------------------------------
    $arrign-right: right;
    $margin-hf: 5%;
    $headder-border: solid 1.8px  $color-cream;
    $decoration-none: none;

h1{
    text-align: $arrign-right;
    margin: $margin-hf;
    border-bottom: $headder-border;
    font-family: $header-font;

    a{
    text-decoration: $decoration-none;
    color: $color-cream;
    }
}
h2{
  font-family: $header-font;

  a{
      color: black; 
    text-decoration: $decoration-none;
        &:active{
        color: #DEB887; 
        text-decoration: $decoration-none;
        }
        &:hover{
        color: $header-color;
        text-decoration: underline;
        }
    }
}
//--------Nav---------------------------------------------------------
nav{
    text-align: $arrign-right;
    color: $color-cream;
    margin: $margin-hf;
    font-family: $body-font;
 }
nav ul li {
    list-style: $decoration-none;
    a{
    text-decoration: $decoration-none;
    color: $color-cream;
    }
    &:hover{
    color: $article-background-color;
    text-decoration: underline;
    }
    &:active{
    color: #DEB887;
 }
}
a{
    color: $header-color;
    text-decoration: $decoration-none;
    &:hover{
    text-decoration: underline;
    }
  }
//-----------------------------------------------------------------------  


article{
    background-color: $article-background-color;
}

img{
  width: 100%;
}

.post-date{
  color: gray;
  font-weight: bold;
  font-size: smaller;
}

$media: screen;
$feature: min-width;
$value: 600px;


@media only #{$media} and ($feature:$value) {
  
  body div{
      display: flex;
      flex-direction: row;
  }
  article{
      margin: 8%;
  }
  img{
      width: 60%;
      margin: 6%;
  }
  figure{
      align-content: center;
  }
}
